In [32]:
import numpy as np
import pandas as pd

In [44]:
df=pd.read_csv('Apriori\Order1.csv')

In [45]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [46]:
df.describe()

       Member_number
count   38765.000000
mean     3003.641868
std      1153.611031
min      1000.000000
25%      2002.000000
50%      3005.000000
75%      4007.000000
max      5000.000000

In [47]:
df.size

116295

In [48]:
df.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [49]:
from apyori import apriori

In [51]:
transacts=[]
for i in range (0,100):
    transacts.append([str(df.values[i,j]) for j in range (0,3)])

In [58]:
ass_rules=apriori(transacts, min_support=0.03, min_confidence=0.05)
ass_results=list(ass_rules)

In [59]:
for i in ass_results:
    print('\n')
    print(i)
    print('---------')

RelationRecord(items=frozenset({'citrus fruit'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'citrus fruit'}), confidence=0.05, lift=1.0)])
---------


RelationRecord(items=frozenset({'other vegetables'}), support=0.06, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'other vegetables'}), confidence=0.06, lift=1.0)])
---------


RelationRecord(items=frozenset({'rolls/buns'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'rolls/buns'}), confidence=0.05, lift=1.0)])
---------


RelationRecord(items=frozenset({'root vegetables'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'root vegetables'}), confidence=0.05, lift=1.0)])
---------


RelationRecord(items=frozenset({'sausage'}), support=0.08, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'sausage'}), confidence=0.08, lift=1.0)])
---------


RelationRecord(items=frozenset({'tropical fruit'}), support=0.06, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tropical fruit'}), confidence=0.06, lift=1.0)])
---------


RelationRecord(items=frozenset({'whole milk'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'whole milk'}), confidence=0.1, lift=1.0)])
---------