In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df =pd.read_csv("/content/drive/MyDrive/ML Dataset/Decision Tree & Naive Bayes Classification/NaiveBayes.csv")
df.head()

   Age  Salary  Purchased
0   19   19000          0
1   35   20000          0
2   26   43000          0
3   27   57000          0
4   19   76000          0

In [ ]:
df.shape

(400, 3)

In [ ]:
df.isna().sum()

Age          0
Salary       0
Purchased    0
dtype: int64

In [ ]:
x=df.drop('Purchased', axis=1)
y=df['Purchased']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
model=MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
accuracy=accuracy_score(y_test, y_pred)
accuracy

0.6